* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica', 'arial', 'san-serif';
}
.wrapper {
    border: 1px solid darkblue;
    width: 800px;
    height: 600 px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: ;
    overflow: hidden;
}
.score {
    font-size: 150px;
    color: darkblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    text-align: center;
}
.countdown {
    position: absolute;
    top: 400px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: darkblue;  /* or is black better? */
}
.button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: darkblue; /* or black?*/
    color: white;
    padding: 20px, 50px;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}
.game {
    border: 2px solid black;
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
}